* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  margin: 5%;
}

#color-palette {
  margin-top: 3%;
  margin-bottom: 5%;
}

.color {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: solid black 1px;

}

.color:nth-child( 1 ) {
  background-color: black;
}

.color:nth-child( 2 ) {
  background-color: red;
}

.color:nth-child( 3 ) {
  background-color: blue;
}

.color:nth-child( 4 ) {
  background-color: orange;
}

.color:nth-child( 5 ) {
  background-color: purple;
}

#pixel-board {
  margin-top: 4%;
  border-spacing: 1px;
  border: 1px solid black;
  display: inline-block;

}

.selected {
  background-color: black;
}


.pixel {
  border: 1px solid black;
  background-color: white;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  display: inline-block;
}
